@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-serif;
}

.typing {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing 1.5s steps(20) 1s forwards, blink 0.75s step-end infinite;
}

@keyframes typing {
  100% {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
